body{
    background-color:seagreen;
    color: rgb(241, 237, 239);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    background-image: url(../Images/IceCream.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: multiply;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 22px;
}
header h1{
    text-align: center;
    color: white;
    font-size: 1.75em;
    line-height: 230px;
    text-shadow: 2px 5px 2px black;
}
.logo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.logo a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 65%;
}
#container{
    margin: 10px;
    text-align: center;
}
nav{
    text-align: center;

}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav li{
    display: block;
}
nav li a{
    display: block;
    background-color: black;
    color: rgb(247, 244, 245);
    font-size: 1.5em;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px 0;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px powderblue;
}
nav li a:hover{
    display: block;
    background-color: black;
    color: rgb(250, 173, 7);
    text-decoration: none;
}
aside ol{
    text-align: center;
}
section,
aside{
   padding: 10px;
}
aside{
    margin-top: 10px;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    border: 2px solid powderblue;
    border-radius: 10px;
}
section{
    margin-bottom: 10px;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: black;
    border: 2px solid powderblue;
    border-radius: 10px;
}
hr{
    border-color: black;
}
.locations{
    text-align: left;
}
.top_aside{
    display: none;
}
.menu{
    text-align: left;
}
.h3_menu{
    text-align: center;
}
main img{
    display: block;
    margin: 20px auto;
    width: 75%;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}
footer{
    background: black;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    padding: 20px 0;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}
@media only screen and (min-width: 750px){
    header h1{
        font-size: 4em;
    }
    header img{
        display: block;
        width: 65%;
        margin: 10px auto;
    }
    nav li{
        display: inline-block;
    }
    nav li a{
        width: 300px;
        margin-right: 25px;
    }
    section img, aside img{
        display: block;
        width: 75%;
        margin: 0 auto;
    }
    section h2{
        font-size: 2em;
    }
    .about_img{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 1024px){
main{
    display: flex;
}
nav{
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 10px;
}
nav li a{
    width: 175px;
    box-shadow: none;
    margin: 0;
}
aside, section{
    margin: 10px;
}
section{
    width: 70%;
}
aside{
    width: 30%;
}
.top_aside{
    display: block;
}
.contact_section{
    width: 100%;
}
.about_img{
    margin-top: 200px;
}
}