body{
    background-color: black;
    color: cornflowerblue;
}
img{
    max-width: 100%;
}
a{
    color: blueviolet;
}
a:hover{
    color: burlywood;
    text-decoration: none;
}
#container{
    width: 75%;
    margin: 20px auto;
    border: 4px solid yellow;
    padding: 20px;
}