body{
    background-color: rgb(54, 53, 58);
    color: black;
}
header{
    background-image: url(../Images/Header-06.jpg);
    background-position: center center;
    background-size: cover;
    height: 300px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 22px;
}
img{
    max-width: 45%;
}
h1{
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 230px;
    text-shadow: 2px 5px 2px black;
}
main{
    font-family:Arial, Helvetica, sans-serif;
    background-color: dimgrey;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}
#container{
    margin: 10px;
    
}
nav{
    text-align: center;

}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav li{
    display: block;
}
nav li a{
    display: block;
    background-color: dimgray;
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    margin: 20px 0;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px white;
}
aside ol{
    text-align: center;
}

aside,
section{
    padding: 10px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}
img{
    max-width: 45%;
}
main img{
    display: block;
    margin: 20px auto;
    width: 75%;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 5px 5px 10px white;
    border-radius: 10px;
}
footer{
    background: dimgray;
    text-align: center;
    margin-top: 40px;
    padding: 40px 0;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}
@media only screen and (min-width: 750px){
section{
    display:flex;
    flex-direction: row;
}

}